@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  user-select: none;
}

.ouro {
  color: #d4af37;
}

.cinza-escuro {
  background-color: #28292b;
}
